# Byte-compiled / optimized / DLL files
.*__pycache__.*
pycache/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.pyc
.DS_Store
